<section class='results'>
  <% @members.each do |member| %>
    <section class="member">
      Name: <%= member.name %><br/>
      <% if member.role %>
        Role: <%= member.role %><br/>
      <% end %>
      House: <% member.house %><br/>
      Patronus: <% member.patronus %>
    </section>
  <% end %>
</section>
